@font-face {
    font-family: "Poppins";
    src: url("/fonts/poppins/Poppins-Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Moul";
    font-weight: 400;
    src: url('/fonts/moul/Moul-Regular.ttf') format('truetype');
}

body {
    background-image: url("/images/tcgc picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 100vh;
}


body,
.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}



body::-webkit-scrollbar {
    display: none;
}


.container-blur {
    width: 100%;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    transition: background-color 1s;
}


.container {
    padding-top: 15vh;
    transition: background-color .5s;

    >form {
        & {
            box-shadow: 0 .3vh .6vh black;
            height: clamp(60vh, 30vw, 70vh);
            width: 40vw;
            min-width: 43vh;
            border-radius: 2vh;
            background-color: white;
            overflow: hidden;
        }

        >header {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 35%;
            width: 100%;
            color: white;
            text-shadow: 0 0 .6vh black;
            background-color: #0C4D12;

            >section:nth-of-type(1) {
                width: 30%;
                height: 100%;
                display: inherit;
                align-items: center;
                justify-content: center;
                padding-left: 1vh;

                >img {
                    min-width: 3.5em;
                    width: 8vw;
                    border-radius: 50%;
                    box-shadow: 0 0 .6vh black;
                }
            }

            >section:nth-of-type(2) {
                font-family: "Moul";
                text-align: center;
                width: 70%;
                font-size: clamp(1em, 2vw, 1.6em);
                height: 100%;
                display: inherit;
                align-items: center;
                justify-content: center;
            }
        }

        >main {
            height: 65%;
            display: flex;
            flex-direction: column;
            gap: 2vh;
            justify-content: center;

            >section {
                display: flex;
                flex-direction: column;

                >label {
                    margin-left: 15%;
                    font-family: "Poppins";
                    font-size: 1.1em;
                }

                >input {
                    & {
                        background-color: rgb(245, 243, 243);
                        align-self: center;
                        width: 70%;
                        height: 4vh;
                        border-radius: 1vh;
                        border: none;
                        border: .2vh solid black;
                        text-indent: 1vh;
                        font-size: 1em;
                    }

                    &:hover {
                        background-color: rgb(222, 220, 220);

                    }
                }

                >button {
                    & {
                        font-family: "Poppins";
                        font-size: 1em;
                        margin-top: 1vh;
                        align-self: center;
                        height: 3vw;
                        min-height: 6vh;
                        border-radius: 2vh;
                        border: .2vh solid black;
                        background-color: rgb(245, 243, 243);
                        transition: letter-spacing 0.2s, background-color 0.2s;
                        width: 60%;
                    }

                    &:hover {
                        transition: letter-spacing 0.2s, background-color 0.2s;
                        background-color: rgb(222, 220, 220);
                        letter-spacing: .2vh;
                    }

                    &:active {
                        letter-spacing: .1vh;
                        transition: letter-spacing 0.2s, background-color 0.2s;
                    }
                }

                >a {
                    margin-top: 3vh;
                    align-self: center;
                    font-family: "Poppins";
                    font-size: .9em;
                    text-decoration: none;
                }
            }
        }

    }
}